section{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 20px 0;
	.cart_content{
		width: 1200px;
		min-height: 500px;
		height: auto;
		margin: 0 auto;
		padding-bottom: 30px;
		.cart_content_title{
			width: 1200px;
			height: 66px;
			margin: 0 auto;
			line-height: 66px;
			a{
				font-size: 16px;
				color: #000;
			}
			a:hover{
				color: #c81623;
			}
			.tip_arrow{
				color: rgb(170, 170, 170);
				margin: 0px 2px;
			}
		}
		.cart_content_tip{
			width: auto;
			height: 44px;
			padding: 0 10px;
			// border:1px solid #333;
			border-radius: 3px;
			margin: 20px 0;
			h1{
				font-size: 30px;
				font-weight: 500;
				color: #333;
				.cart_content_tip_num{
					color: #ec5051;
				}
			}
		}
		.cart_content_tip:hover{
			cursor: pointer;
			background: #2b2b2b;
			h1{
				color: #fff;
			}
		}
		.cart_content_items{
			width: 100%;
			height: 66px;
			// background: #fff4e8;
			padding: 10px 0;
			line-height: 66px;
			border-top: 2px solid #aaa;
			.car_content_items_list{
				width: 100%;
				overflow: hidden;
				li{
					float: left;
					margin-left: 30px;
					margin-right: 80px;
					span{
						font-size: 14px;
						color: #333;
					}
				}
				.car_items_goods{
					margin-left: 100px;
					margin-right: 160px;
				}
			}
		}
		.cart_goods_info{
			width: 100%;
			height: auto;
			min-height: 110px;
			margin-bottom:30px;
			padding: 10px 0;
			overflow: hidden;
			.cart_goods_info_list{
				width: 100%;
				height: 110px;
				overflow: hidden;
				line-height: 110px;
				border-bottom:1px solid #ddd;
				background: #fff4e8;
				li{
					float: left;
					margin-left: 30px;
				}
				.cart_pro_attr{
					.cart_pro_attr_detail{
						width: 380px;
						height: 110px;
						overflow: hidden;
						a{
							float: left;
						}
						a:hover{
							color: #ec5051;
						}
						img{
							width: 80px;
							height: 80px;
							vertical-align: middle;
							margin: 0 10px;
						}
						.cart_goods_msg{
						    float: left;
					        width: 250px;
					        height: 100px;
					        overflow: hidden;
					        white-space: nowrap;
					        text-overflow:ellipsis;
						}
					}
				}
				.cart_pro_id{
					margin-right: 30px;
				}
				.cart_pro_price{
					margin-left: 90px;
					margin-right: 72px;
				}
				.cart_pro_quantity{
					width: 150px;
					height: 110px;
					margin-left: 0px;
					.cart_quantity_revise{
						.cart_goods_reduce,.cart_goods_increase{
							width: 30px;
						    height: 30px;
						    background: #fff;
						    border: 1px solid #181B2A;
						    color: #333;
						    border-radius: 3px;
						    cursor: pointer;
						}
						.cart_goods_num{
							width: 40px;
						    height: 30px;
						    text-align: center;
						    border-radius: 3px;
						    border: 1px solid #181B2A;
						    outline: none;
						    color: #181B2A;
						}
					}
				}
				.cart_pro_sum{
					margin-right: 75px;
					.cart_samll_sum{
						color: #ec5051;
						font-weight: bold;
					}
				}
				.cart_pro_operate{
					.cart_pro_delete:hover{
						color: #ec5151;
						text-decoration: underline;
					}
				}
			}
		}
		.cart_goods_result{
			width: 100%;
			height: 50px;
			padding: 10px 0;
			background: #fff;
			border:1px solid #d2d2d2;
			.cart_goods_result_list{
				width: 100%;
				height: 50px;
				overflow: hidden;
				line-height: 50px;
				li{
					float: left;
					margin-left: 30px;
				}
				a:hover{
					color: #ec5051;
					text-decoration: underline;
				}
				.cart_result_count{
					margin-left: 400px;
					span{
						color: #666;
						font-size: 14px;
						.cart_goods_count{
							margin: 0 2px;
							color: #f13e3a;
						}
						.cart_goods_money{
							font-size: 26px;
							font-weight: 700;
							color: #f13e3a; 
						}
						.cart_goods_money_log{
							@extend .cart_goods_money;
						}
					}
				}
				.cart_result_balance{
					.cart_submitOrder{
						display: block;
					    width: 160px;
					    height: 50px;
					    line-height: 50px;
					    color: #fff;
					    text-align: center;
					    font-size: 18px;
					    font-family: '\5fae\8f6f\96c5\9ed1';
					    background: #ec5051;
					    overflow: hidden;
					    border: none;
					    cursor: pointer;
						}
					.cart_submitOrder:hover{
						opacity: .8;
						filter: alpha(opacity=80);
						text-decoration: none;
					}
				}
			}
		}
	}
}