/* header */
header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  /* Sign in modal box */
  /* sign up modal box */ }
  header .header_logo {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    border-bottom: 2px solid #686868; }
    header .header_logo .larchy_logo {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -70px;
      margin-top: -22px; }
    header .header_logo .search {
      position: absolute;
      width: 250px;
      height: 30px;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      right: 5%;
      bottom: 20%;
      overflow: hidden; }
      header .header_logo .search #search_value {
        float: left;
        width: 225px;
        height: 28px;
        text-indent: 10px;
        outline: none; }
      header .header_logo .search .search_logo {
        float: right;
        width: 25px;
        height: 30px; }
        header .header_logo .search .search_logo img {
          margin: 3px 0; }
    header .header_logo .user {
      position: absolute;
      bottom: 20%;
      left: 5%; }
      header .header_logo .user .user_logo img {
        width: 30px;
        height: 30px; }
      header .header_logo .user a {
        font-size: 16px;
        font-weight: 500; }
      header .header_logo .user a:hover {
        text-decoration: underline; }
  header .signIn_box {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
    display: none;
    text-align: center; }
    header .signIn_box .signIn_content {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -250px;
      margin-top: -250px;
      width: 500px;
      height: 500px;
      padding: 20px;
      box-sizing: border-box;
      background: #fff;
      background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.065), transparent) !important;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.065), transparent) !important;
      background-repeat: no-repeat !important;
      background-size: 100% 200px !important;
      border: 1px solid #d8dee2;
      border-radius: 5px; }
      header .signIn_box .signIn_content .signIn_logo img {
        width: 150px; }
      header .signIn_box .signIn_content .signIn_logo h1 {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.5px; }
      header .signIn_box .signIn_content .signIn_info {
        position: relative;
        border-top: 1px solid #d8dee2;
        margin-top: 20px;
        text-align: left; }
        header .signIn_box .signIn_content .signIn_info label {
          display: block;
          margin: 20px 0 10px 0; }
        header .signIn_box .signIn_content .signIn_info .forgot_pwd {
          float: right;
          font-size: 12px;
          color: #0366d6; }
        header .signIn_box .signIn_content .signIn_info .forgot_pwd:hover {
          text-decoration: underline; }
        header .signIn_box .signIn_content .signIn_info #login_field, header .signIn_box .signIn_content .signIn_info #login_pwd {
          display: block;
          width: 95%;
          min-height: 26px;
          padding: 5px 6px;
          font-size: 14px;
          text-indent: 10px;
          line-height: 20px;
          color: #24292e;
          vertical-align: middle;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: right 8px center;
          border: 1px solid #d1d5da;
          border-radius: 3px;
          outline: none;
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }
        header .signIn_box .signIn_content .signIn_info #login_pwd {
          margin-bottom: 20px; }
        header .signIn_box .signIn_content .signIn_info #login_pwd:focus, header .signIn_box .signIn_content .signIn_info #login_field:focus, header .signIn_box .signIn_content .signIn_info #login_pwd:focus {
          border-color: #2188ff;
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3); }
        header .signIn_box .signIn_content .signIn_info #login_btn {
          display: block;
          width: 100%;
          color: #fff;
          background: #28a745;
          background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
          padding: 10px 12px;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          background-repeat: repeat-x;
          background-position: -1px -1px;
          background-size: 110% 110%;
          border: 1px solid rgba(27, 31, 35, 0.2);
          border-radius: 0.25em; }
        header .signIn_box .signIn_content .signIn_info #login_btn:hover {
          background-color: #269f42;
          background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
          background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
          background-position: 0 -0.5em;
          border-color: rgba(27, 31, 35, 0.5); }
      header .signIn_box .signIn_content .signIn_toregister {
        margin-top: 20px;
        padding: 15px 20px;
        text-align: center;
        border: 1px solid #d8dee2;
        border-radius: 5px; }
        header .signIn_box .signIn_content .signIn_toregister p {
          font-weight: 300; }
          header .signIn_box .signIn_content .signIn_toregister p a {
            color: #0366d6;
            font-weight: 400;
            margin-left: 5px; }
          header .signIn_box .signIn_content .signIn_toregister p a:hover {
            text-decoration: underline; }
  header .signUp_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    z-index: 999; }
    header .signUp_box .signUp_content {
      position: absolute;
      width: 600px;
      height: 600px;
      left: 50%;
      top: 50%;
      margin-left: -300px;
      margin-top: -300px;
      background: #fff;
      background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.065), transparent) !important;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.065), transparent) !important;
      background-repeat: no-repeat !important;
      background-size: 100% 200px !important;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #d8dee2;
      border-radius: 5px;
      text-align: center; }
      header .signUp_box .signUp_content .signUp_logo img {
        width: 150px; }
      header .signUp_box .signUp_content .signUp_logo h1 {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.5px;
        margin-top: 10px; }
      header .signUp_box .signUp_content .signUp_info {
        position: relative;
        border-top: 1px solid #d8dee2;
        margin-top: 20px;
        text-align: left; }
        header .signUp_box .signUp_content .signUp_info label {
          display: block;
          margin: 16px 0 10px 0; }
          header .signUp_box .signUp_content .signUp_info label span {
            float: right;
            color: #86181d; }
        header .signUp_box .signUp_content .signUp_info #register_name, header .signUp_box .signUp_content .signUp_info #register_email, header .signUp_box .signUp_content .signUp_info #register_pwd, header .signUp_box .signUp_content .signUp_info #confirm_pwd {
          display: block;
          width: 95%;
          min-height: 22px;
          padding: 5px 6px;
          font-size: 14px;
          text-indent: 10px;
          line-height: 20px;
          color: #24292e;
          vertical-align: middle;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: right 8px center;
          border: 1px solid #d1d5da;
          border-radius: 3px;
          outline: none;
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }
        header .signUp_box .signUp_content .signUp_info #register_name:focus, header .signUp_box .signUp_content .signUp_info #register_email:focus, header .signUp_box .signUp_content .signUp_info #register_pwd:focus, header .signUp_box .signUp_content .signUp_info #confirm_pwd:focus {
          border-color: #2188ff;
          box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3); }
        header .signUp_box .signUp_content .signUp_info #register_btn {
          display: block;
          width: 100%;
          color: #fff;
          background: #28a745;
          background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
          padding: 10px 12px;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          background-repeat: repeat-x;
          background-position: -1px -1px;
          background-size: 110% 110%;
          border: 1px solid rgba(27, 31, 35, 0.2);
          border-radius: 0.25em;
          margin-top: 20px; }
        header .signUp_box .signUp_content .signUp_info #register_btn:hover {
          background-color: #269f42;
          background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
          background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
          background-position: 0 -0.5em;
          border-color: rgba(27, 31, 35, 0.5); }
      header .signUp_box .signUp_content .signUp_tips {
        margin-top: 5px;
        text-align: center; }
        header .signUp_box .signUp_content .signUp_tips p {
          font-weight: 300; }
          header .signUp_box .signUp_content .signUp_tips p a {
            color: #0366d6;
            font-weight: 400;
            margin-left: 5px; }
          header .signUp_box .signUp_content .signUp_tips p a:hover {
            text-decoration: underline; }

/* content */
section {
  width: 100%;
  height: auto; }
  section .nav {
    width: 1200px;
    height: 66px;
    background: #2b2b2b;
    margin: 0 auto;
    line-height: 66px;
    border-radius: 3px; }
    section .nav .nav_list li {
      float: left;
      padding: 0 40px;
      position: relative; }
      section .nav .nav_list li a {
        font-size: 14px;
        color: #ccc; }
      section .nav .nav_list li a:hover {
        text-decoration: underline;
        color: #fff; }
      section .nav .nav_list li .nav_list_second {
        position: absolute;
        left: 0;
        top: 67px;
        display: none;
        width: 100%;
        height: auto;
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
        z-index: 999;
        border-radius: 4px; }
        section .nav .nav_list li .nav_list_second a {
          display: block;
          color: #595757; }
        section .nav .nav_list li .nav_list_second a:hover {
          background: rgba(52, 52, 52, 0.8);
          text-decoration: none;
          color: #fff; }
    section .nav .navList_li_active {
      background: url("../images/bannerImg/nav_list_border.png") no-repeat bottom; }
  section .banner {
    width: 1200px;
    height: 580px;
    border: 2px solid #dcdcdc;
    margin: 0 auto;
    border-radius: 10px;
    position: relative; }
    section .banner .banner_list {
      position: absolute;
      left: 100px;
      top: 0; }
      section .banner .banner_list li {
        position: absolute;
        top: 0;
        left: 0;
        display: none; }
        section .banner .banner_list li img {
          width: 1000px;
          height: 580px; }
    section .banner #pages {
      width: auto;
      height: 25px;
      position: absolute;
      bottom: 0;
      left: 40%; }
      section .banner #pages div {
        width: 15px;
        height: 15px;
        float: left;
        border-radius: 10px;
        margin: 5px;
        background: transparent;
        border: 1px solid #ddd;
        cursor: pointer; }
      section .banner #pages .curr {
        background: #666; }
    section .banner #prev, section .banner #next {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      line-height: 55px;
      text-align: center;
      background: #111;
      font-size: 32px;
      font-weight: bold;
      color: #fff;
      filter: alpha(opacity=30);
      -moz-opacity: 0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3;
      cursor: default;
      display: none; }
    section .banner #next {
      right: 0; }
  section .advertisement {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0; }
    section .advertisement .advertise_1 {
      transition: all .6s; }
    section .advertisement .advertise_1:hover {
      transform: scale(1.2); }
  section .classify {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative; }
    section .classify .classify_item {
      width: 100%;
      height: auto;
      background: url("../images/bannerImg/classify-bg.jpg") repeat-x;
      background-position: center; }
      section .classify .classify_item .classify_list {
        margin: 0 auto;
        padding: 10px 0;
        overflow: hidden;
        display: table;
        background: #fff;
        text-align: center; }
        section .classify .classify_item .classify_list li {
          float: left; }
          section .classify .classify_item .classify_list li a {
            display: inline-block;
            width: auto;
            height: 28px;
            line-height: 28px;
            border: 1px solid #ccc;
            margin: 0 20px;
            padding: 5px;
            font-size: 14px; }
          section .classify .classify_item .classify_list li .classify_active {
            background: #595757;
            color: #fff; }
    section .classify .classify_content {
      width: 100%;
      height: auto;
      overflow: hidden; }
      section .classify .classify_content .classify_content_first {
        width: 100%;
        height: auto;
        overflow: hidden; }
        section .classify .classify_content .classify_content_first .classify_content_first_left, section .classify .classify_content .classify_content_first .classify_content_first_right {
          width: 350px;
          height: auto;
          float: left; }
          section .classify .classify_content .classify_content_first .classify_content_first_left img, section .classify .classify_content .classify_content_first .classify_content_first_right img {
            width: 250px;
            height: auto; }
        section .classify .classify_content .classify_content_first .classify_content_first_center {
          float: left;
          width: 500px;
          height: 368px;
          position: relative;
          overflow: hidden; }
          section .classify .classify_content .classify_content_first .classify_content_first_center .classify_content_first_center_list {
            position: absolute;
            left: 0;
            top: 0; }
            section .classify .classify_content .classify_content_first .classify_content_first_center .classify_content_first_center_list li {
              float: left; }
          section .classify .classify_content .classify_content_first .classify_content_first_center #pagesClassify {
            width: auto;
            height: 30px;
            line-height: 30px;
            position: absolute;
            bottom: 5%;
            right: 20px; }
            section .classify .classify_content .classify_content_first .classify_content_first_center #pagesClassify div {
              width: 18px;
              height: 18px;
              text-align: center;
              line-height: 18px;
              border-radius: 18px;
              background: #fff;
              float: left;
              margin: 5px;
              opacity: 0.8;
              background: #111;
              color: #fff;
              font-size: 12px;
              cursor: pointer; }
            section .classify .classify_content .classify_content_first .classify_content_first_center #pagesClassify .currClassify {
              background: #fff;
              color: #000; }
        section .classify .classify_content .classify_content_first .classify_content_first_right {
          overflow: hidden;
          float: right; }
          section .classify .classify_content .classify_content_first .classify_content_first_right img {
            float: right; }
      section .classify .classify_content .classify_content_second {
        width: 100%;
        height: auto;
        overflow: hidden; }
        section .classify .classify_content .classify_content_second .classify_content_second_list li {
          background: rgba(219, 219, 219, 0.3);
          box-shadow: 0px 0px 15px 5px #ddd;
          margin: 0 14px;
          padding: 10px;
          float: left; }
          section .classify .classify_content .classify_content_second .classify_content_second_list li img {
            width: 250px;
            height: auto; }
    section .classify .classify_content_else {
      width: 100%;
      height: auto;
      display: none;
      overflow: hidden; }
      section .classify .classify_content_else .classify_content_first {
        width: 100%;
        height: auto;
        overflow: hidden; }
        section .classify .classify_content_else .classify_content_first .classify_content_first_left, section .classify .classify_content_else .classify_content_first .classify_content_first_right {
          width: 350px;
          height: auto;
          float: left; }
          section .classify .classify_content_else .classify_content_first .classify_content_first_left img, section .classify .classify_content_else .classify_content_first .classify_content_first_right img {
            width: 250px;
            height: auto; }
        section .classify .classify_content_else .classify_content_first .classify_content_first_center {
          float: left;
          width: 500px;
          height: 368px;
          position: relative;
          overflow: hidden; }
          section .classify .classify_content_else .classify_content_first .classify_content_first_center .classify_content_first_center_list {
            position: absolute;
            left: 0;
            top: 0; }
            section .classify .classify_content_else .classify_content_first .classify_content_first_center .classify_content_first_center_list li {
              float: left; }
          section .classify .classify_content_else .classify_content_first .classify_content_first_center #pagesClassify {
            width: auto;
            height: 30px;
            line-height: 30px;
            position: absolute;
            bottom: 5%;
            right: 20px; }
            section .classify .classify_content_else .classify_content_first .classify_content_first_center #pagesClassify div {
              width: 18px;
              height: 18px;
              text-align: center;
              line-height: 18px;
              border-radius: 18px;
              background: #fff;
              float: left;
              margin: 5px;
              opacity: 0.8;
              background: #111;
              color: #fff;
              font-size: 12px;
              cursor: pointer; }
            section .classify .classify_content_else .classify_content_first .classify_content_first_center #pagesClassify .currClassify {
              background: #fff;
              color: #000; }
        section .classify .classify_content_else .classify_content_first .classify_content_first_right {
          overflow: hidden;
          float: right; }
          section .classify .classify_content_else .classify_content_first .classify_content_first_right img {
            float: right; }
      section .classify .classify_content_else .classify_content_second {
        width: 100%;
        height: auto;
        overflow: hidden; }
        section .classify .classify_content_else .classify_content_second .classify_content_second_list li {
          background: rgba(219, 219, 219, 0.3);
          box-shadow: 0px 0px 15px 5px #ddd;
          margin: 0 14px;
          padding: 10px;
          float: left; }
          section .classify .classify_content_else .classify_content_second .classify_content_second_list li img {
            width: 250px;
            height: auto; }
  section .moreProducts {
    width: 1200px;
    height: auto;
    margin: 20px auto;
    overflow: hidden; }
    section .moreProducts .moreProducts_title {
      width: 100%;
      height: auto;
      padding: 30px 0;
      text-align: center;
      background: #2b2b2b;
      color: #ccc;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px; }
    section .moreProducts .moreProducts_content {
      width: 100%;
      height: auto;
      margin: 0 auto;
      text-align: center; }
      section .moreProducts .moreProducts_content .swiper-container-1 {
        width: 100%;
        height: 500px;
        overflow: hidden; }

/* footer */
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }
  footer .footer_title {
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    background: url("../images/footerImg/f-hbg.png") repeat-x center; }
    footer .footer_title img {
      background: url("../images/footerImg/f-bg.jpg");
      border-radius: 50%; }
  footer .footer_content {
    width: 100%;
    height: 680px;
    background: url("../images/footerImg/footer_bg.jpg") no-repeat;
    background-size: cover; }
    footer .footer_content .footer_content_left {
      float: left;
      margin-left: 45px;
      width: 50%;
      height: 100%;
      background: url("../images/footerImg/b_g.png") repeat; }
      footer .footer_content .footer_content_left .footer_logo1 {
        margin: 20px; }
      footer .footer_content .footer_content_left .swiper-container-2 {
        width: 90%;
        height: auto;
        padding: 10px;
        overflow: hidden; }
        footer .footer_content .footer_content_left .swiper-container-2 img {
          width: 100%;
          height: 100%; }
    footer .footer_content .footer_content_right {
      float: left;
      width: auto;
      height: auto;
      background: url("../images/footerImg/b_g.png") repeat; }
      footer .footer_content .footer_content_right .footer_content_right_detail {
        text-align: center;
        padding: 190px 120px;
        overflow: hidden; }
        footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_top {
          padding: 10px; }
          footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_top .footer_content_right_top_list {
            display: table;
            text-align: center;
            overflow: hidden;
            margin: 0 auto; }
            footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_top .footer_content_right_top_list li {
              float: left;
              text-align: center; }
              footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_top .footer_content_right_top_list li a {
                margin: 10px;
                font-size: 18px;
                color: #fff;
                font-weight: bold; }
              footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_top .footer_content_right_top_list li a:hover {
                text-decoration: underline; }
        footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_middle h3 {
          margin: 20px 0;
          color: #fff; }
        footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_middle .footer_content_right_middle_list {
          padding: 10px;
          overflow: hidden;
          display: table;
          text-align: center;
          margin: 0 auto; }
          footer .footer_content .footer_content_right .footer_content_right_detail .footer_content_right_middle .footer_content_right_middle_list li {
            float: left;
            text-align: center;
            padding: 0 15px; }
  footer .footer_copyright {
    width: 100%;
    height: auto;
    background: #2b2b2b;
    padding: 22px 0;
    text-align: center; }
    footer .footer_copyright p {
      font-size: 14px;
      color: #ccc; }

/* else */
.backtoTop {
  position: fixed;
  display: none;
  width: auto;
  height: auto;
  bottom: 40px;
  right: 40px;
  z-index: 999; }
  .backtoTop .backtoTop_logo img {
    display: block; }

.header_horizontal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(rgba(255, 255, 255, 0.95) 0, rgba(255, 255, 255, 0.95) 100%) !important;
  opacity: .9;
  filter: alpha(opacity=90);
  z-index: 9;
  box-shadow: 0 0 5px #888;
  display: none; }
  .header_horizontal .header_logo {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative; }
    .header_horizontal .header_logo .larchy_logo {
      position: absolute;
      left: 0%;
      top: 50%;
      margin-top: -20px; }
    .header_horizontal .header_logo .search {
      position: absolute;
      width: 500px;
      height: 30px;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      left: 30%;
      bottom: 20%;
      overflow: hidden; }
      .header_horizontal .header_logo .search #search_value {
        float: left;
        width: 475px;
        height: 28px;
        text-indent: 10px;
        outline: none; }
      .header_horizontal .header_logo .search .search_logo {
        float: right;
        width: 25px;
        height: 30px; }
        .header_horizontal .header_logo .search .search_logo img {
          margin: 3px 0; }

/*# sourceMappingURL=index.css.map */
